# Tuple

In [1]:
t = tuple() #Creating an empty tuple

In [2]:
t1 = () #Another way to create an empty tuple

In [3]:
type(t)

tuple

In [4]:
t1 = (10,20,30,40)

In [7]:
t2 = (1,1,5,2+3j,'Nit',True)
t2
# Different data types can be present

(1, 1, 5, (2+3j), 'Nit', True)

In [8]:
t1 = t2

In [9]:
id(t1)

2662857952032

In [10]:
id(t2)

2662857952032

In [13]:
t1[0] = 20
#immutable

TypeError: 'tuple' object does not support item assignment

In [53]:
t2 = [10,10,20,30,40,50]
# Duplicates are allowed

In [15]:
t2[::2]

[10, 20, 40]

In [16]:
t2.count(10)

2

In [17]:
t2.index(10)

0

**Looping through a tuple**

In [55]:
for i in t2:
    print(i)

10
10
20
30
40
50

In [18]:
for i in enumerate(t2):
    print(i)

(0, 10)
(1, 10)
(2, 20)
(3, 30)
(4, 40)
(5, 50)

In [19]:
t2 = t1.copy()

AttributeError: 'tuple' object has no attribute 'copy'

**sorted tuple**

In [60]:
t3 = (40,10,50,20,80)

In [61]:
print(sorted(t3)) # sorted is used to return a new sorted tuple, leaving the original tuple unchanged
print(t3)

[10, 20, 40, 50, 80]
(40, 10, 50, 20, 80)

In [62]:
sorted(t3,reverse = True) # sorts in the descending order

[80, 50, 40, 20, 10]

**Tuple membership**

In [56]:
10 in t2

True

In [57]:
if 10 in t2:
    print('10 is present in t2')
else:
    print('10 is not present in t2')

10 is present in t2

# Set

In [20]:
s1 = set()
type(s1)

set

In [21]:
s = {}
type(s)

dict

In [54]:
s1 = {3,100,5,20}
s1
# result will automatically  be in ordered format if all the elements are of the same data type

{3, 5, 20, 100}

In [27]:
s2 = {'e','z','c','a','d','c'}
s2
# Note that only one c appears in the output, duplicates aren't allowed in a set

{'a', 'c', 'd', 'e', 'z'}

In [28]:
s3 = {1+2j,2+1j,5+8j,2+3j,1+1j}
s3

{(1+1j), (1+2j), (2+1j), (2+3j), (5+8j)}

In [32]:
s4 = {1,1.5,1+1j,'nit'}

In [29]:
print(s1)
print(type(s1))

{100, 3, 20, 5}
<class 'set'>

In [31]:
s1.add(200)
s1
# add function adds the elements in ascending order

{3, 5, 20, 100, 200}

In [33]:
s1.add(500,200)

TypeError: set.add() takes exactly one argument (2 given)

In [35]:
s1.add(15)
s1

{3, 5, 15, 20, 100, 200}

In [37]:
s5 = s1.copy()
s5

{3, 5, 15, 20, 100, 200}

In [39]:
print(id(s1))
print(id(s5))

2660755004320
2660756699840

In [41]:
s1.clear()
s1

set()

In [42]:
s5[:]
# since index concept is not applicable to a set

TypeError: 'set' object is not subscriptable

In [43]:
s6 = {1,2,3,4,5}
id(s6)

2660756459296

In [44]:
s6.clear()
id(s6)

2660756459296

In [45]:
del s6
s6

NameError: name 's6' is not defined

In [47]:
s5.remove(200)
s5

KeyError: 200

In [48]:
s5

{3, 5, 15, 20, 100}

In [51]:
s5.pop()
# randomly removes the elements, no argument is allowed inside pop

5

In [52]:
s5.pop()

20

Tuple real time application - used in banks since it cannot be edited, makes it more secure

Summary

Tuple
- Define a tuple
- Methods of a tuple - count(), index()
- Multiple data typles are allowed
- Tuple is immutable
- Duplicates are allowed
- Slicing is allowed
- for loop/enumerate

Set
- Define a set
- Methods:
    - add()
    - copy()
    - clear()