# Dictionary
- A collection of key and value pairs
- Keys must be unique, duplicate values are allowed

### Create Dictionary

In [5]:
d1 = dict() # Creating an empty dictionary
d1

{}

In [6]:
type(d1)

dict

In [7]:
d2 = {}  # Another way to create an empty dictionary
d2

{}

In [8]:
d1 = {1:'one', 2:'two', 3:'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [9]:
d2 = dict({1:'one', 2:'two', 3:'three'})
d2

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
d1 = {1:'one', 2:'two', 3:'three'}  # dictionary with integer keys
d1

In [11]:
d2 = {'a':'Australia', 'b':'Brazil', 'c':'Canada'}  # dictionary having character as keys
d2

{'a': 'Australia', 'b': 'Brazil', 'c': 'Canada'}

In [16]:
d3 = {1: 'one', 2: 'two', 2.2: 'two', 1+2j: 'complex', True: 'bool'}
d3
# interesting

{1: 'bool', 2: 'two', 2.2: 'two', (1+2j): 'complex'}

In [17]:
d4 = {1: 'one', 2: 'two', 2.2: 'two', 1+2j: 'complex'}
d4

{1: 'one', 2: 'two', 2.2: 'two', (1+2j): 'complex'}

In [19]:
d3 = {2: 'two', 2.2: 'two', 1+2j: 'complex', True: 'bool'}
d3
# interesting
# Best practice however is to use immutable data types/ data structures as keys

{2: 'two', 2.2: 'two', (1+2j): 'complex', True: 'bool'}

### Methods

In [20]:
d3.keys()

dict_keys([2, 2.2, (1+2j), True])

In [21]:
d3.values()

dict_values(['two', 'two', 'complex', 'bool'])

In [22]:
d3.items()

dict_items([(2, 'two'), (2.2, 'two'), ((1+2j), 'complex'), (True, 'bool')])

In [24]:
d4 = {1:'one', 2:'two', 3:['Srujana','Gottumukkala']} # dictionary containing a list
d4

{1: 'one', 2: 'two', 3: ['Srujana', 'Gottumukkala']}

In [28]:
d4[2]

'two'

In [29]:
d4[0]
# If the key doesn't exist, note the error - KeyError

KeyError: 0

In [30]:
d4[3][0]

'Srujana'

In [31]:
type(d4[3])

list

In [33]:
d5 = {1:'one', 2:'two', 3:'three', 4: {1: 'one', 2: 'two'}, 5:('a','b','c','d','e','f') }   
# dictionary containing another dictionary and a tuple
d5

{1: 'one',
 2: 'two',
 3: 'three',
 4: {1: 'one', 2: 'two'},
 5: ('a', 'b', 'c', 'd', 'e', 'f')}

In [34]:
type(d5[4])

dict

In [35]:
type(d5[5])

tuple

In [53]:
keys1 = {'a', 'b', 'c', 'd'}
value = 20
d6 = dict.fromkeys(keys1,value)   # Creating a dictionary from pre-defined keys and a value
d6

{'b': 20, 'c': 20, 'a': 20, 'd': 20}

In [54]:
value.append(20)
d6

# note the error, this works for list but not int

AttributeError: 'int' object has no attribute 'append'

In [37]:
keys1 = {'a', 'b', 'c', 'd'}
value = 10,20
d7 = dict.fromkeys(keys1,value) 
d7

{'b': (10, 20), 'c': (10, 20), 'a': (10, 20), 'd': (10, 20)}

In [45]:
d7[b]
# Note the error

TypeError: unhashable type: 'dict'

In [44]:
d7['b']

(10, 20)

In [46]:
type(d7['b'])

tuple

In [55]:
keys1 = {'a', 'b', 'c', 'd'}
value = [10,20]
d8 = dict.fromkeys(keys1,value)   # Creating a dictionary from pre-defined keys and a value
d8

{'b': [10, 20], 'c': [10, 20], 'a': [10, 20], 'd': [10, 20]}

In [47]:
type(d8['b'])

list

In [56]:
value.append(30)

In [57]:
d8

{'b': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30]}

In [48]:
keys1 = {'a', 'b', 'c', 'd'}
value = {10,20}
d9 = dict.fromkeys(keys1,value)   
d9

{'b': {10, 20}, 'c': {10, 20}, 'a': {10, 20}, 'd': {10, 20}}

In [49]:
type(d9['b'])

set

### Accessing items

In [58]:
d1

{1: 'one', 2: 'two', 3: 'three'}

In [59]:
d1[1]      # Accessing items

'one'

In [61]:
d1.get(1)   # Accessing items using get(key)

'one'

In [62]:
keys1 = {'a', 'b', 'c', 'd'}
value = [10,20]
d8 = dict.fromkeys(keys1,value)   # Creating a dictionary from pre-defined keys and a value
d8

{'b': [10, 20], 'c': [10, 20], 'a': [10, 20], 'd': [10, 20]}

### Add, remove and change

In [65]:
d1

{1: 'one', 2: 'two', 3: 'three'}

In [67]:
d1[1] = 'one thousand'      # update
d1

{1: 'one thousand', 2: 'two', 3: 'three'}

In [70]:
d1_1 = {4: 'four'}            # add
d1.update(d1_1)
d1

{1: 'one thousand', 2: 'two', 3: 'three', 4: 'four'}

In [71]:
d1.pop(2)                     # remove
d1

{1: 'one thousand', 3: 'three', 4: 'four'}

In [73]:
print(d1.popitem())
d1

(3, 'three')

{1: 'one thousand'}

In [76]:
d1 = {1:'one', 2:'two', 3:'three'}      # using del() method
del(d1[2])
d1

{1: 'one', 3: 'three'}

In [77]:
d1.clear()             # delete all items of the dictionary
d1

{}

In [78]:
del d1                 # delete the object
d1

NameError: name 'd1' is not defined

### Copy

In [79]:
d1 = {1:'one', 2:'two', 3:'three'}
d1

{1: 'one', 2: 'two', 3: 'three'}

In [80]:
d2 = d1

In [81]:
print(id(d1))
print(id(d2))
# Note that it points to the same memory location

1836209288896
1836209288896

In [82]:
d3 = d2.copy()
print(d3)
print(id(d3))
# Note that the memory location in case of copy is different

{1: 'one', 2: 'two', 3: 'three'}
1836210701056

In [84]:
d1.update({4:'four'})
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [85]:
print(d1)
print(d2)
print(d3)
print(id(d1))
print(id(d2))
print(id(d3))
# Note that the changes made in d1 are reflected in d2 but not in d3, 
# since d1 and d2 refer to the same object whereas d3 is another object

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three', 4: 'four'}
{1: 'one', 2: 'two', 3: 'three'}
1836209288896
1836209288896
1836210701056

### Iterating using a for loop

In [86]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [87]:
for i in d1:
    print(i,':',d1[i])    # To print the key and value pair

1 : one
2 : two
3 : three
4 : four

### Dictionary Membership

In [88]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [89]:
1 in d1

True

In [90]:
one in d1   # Error, since membership test can only be done for keys

NameError: name 'one' is not defined

### All / Any

In [91]:
d1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [92]:
all(d1)

True

In [99]:
d2 = d1.copy()

In [105]:
d2_2 = {0:'zero'}

In [107]:
d2.update(d2_2)
d2

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 0: 'zero'}

In [108]:
all(d2)     # since one of the keys is 0, it returns False

False

In [109]:
any(d2)    # since at least one of the elements is non-0, it returns True

True

### Summary
- Creating a dict
- Methods
    - keys()
    - values()
    - items()
    - fromkeys(keys,value)
    - get(key)
    - pop()
    - popitem()
    - update()
    - clear()
    - copy()
    - all()
    - any
 - del
 - for loop
 - in