# DATA SCIENCE AND AI

## Data types

Recap

- Syntax of defining python identifiers
    python identifier = values
- Rules to define identifiers
    - The first character must be a character or underscore, it cannot begin with a number
    - Special characters (except underscore) are not allowed
    - Keywords aren't allowed, Eg: ELSE is not a keyword, so valid identifier. else is a keyword, so invalid identifier. Since python is case sensitive
    - There is no length limit

        
Today's topic
- Datatypes

Python software installed
   - anaconda python -- bigdata and datascience, gen ai
   - python ide - vs code, pycharm, jupyter, spyder
   - interpreter - executes the code line by line
   -  compiler - executes the code at once
Python is dynamic programming language; it works based on indentation

In [12]:
#Check python version

import sys
sys.version

'3.9.12 (main, Apr  4 2022, 05:22:27) [MSC v.1916 64 bit (AMD64)]'

**Python data structures**
1. Primitive
2. Non-Primitive:
      - Built-in
      - User-defined

Datatypes

1. int
2. float
3. string
4. bool
5. complex - java doesn't have complex data types

**1. int data types - values without decimal**

In [13]:
i = 3 # only single values are allowed
i

3

In [2]:
type(i)

int

In [3]:
i2 = 3,4,5

In [4]:
type(i2)

tuple

**2. float - contains decimals
   exponential - e1 is 10**

In [5]:
petrol = 110.45
petrol

110.45

In [6]:
f2 = 2e0

In [7]:
f2

2.0

In [8]:
f3 = 2e1
f3

In [10]:
f4 = 3e2 #e2 is equivalent to 10^2 (i.e 100)
f4

300.0

In [11]:
f5 = 3e3
f5

3000.0

In [12]:
f6 = 2.4e3
f6

2400.0

Inbuilt functions covered - print, type, id
Two types of functions - inbuilt vs user-defined

In statistics
Numeric data  - Numbers
Categorical data - Text

**3. String**
3 ways of defining a string:
    '', "", ''' '''

In [18]:
s = 'nit'
s

'nit'

In [19]:
s1 = "nit tech"
s1

'nit tech'

In [20]:
s2 = '''nit tech'''
s2

'nit tech'

Difference between single, double and triple quotes

In [21]:
s3 = 'nit
        tech'

SyntaxError: EOL while scanning string literal (2247911082.py, line 1)

In [22]:
s4 = "nit 
    tech"

SyntaxError: EOL while scanning string literal (1173316524.py, line 1)

In [23]:
s5 = '''nit 
        tech'''

**Note**: Triple quotes is used for multiline strings

**4. Boolean**

In [25]:
b = true

NameError: name 'true' is not defined

In [26]:
b = True

In [27]:
b1 = False

In [28]:
b + b1

1

In [29]:
int(True)

1

In [30]:
True + False

1

In [31]:
True - False

1

In [36]:
True * True - False + False * True
# Use BODMAS

1

In [37]:
False/True

0.0

In [38]:
False//True

0

In [40]:
True/False
# Interview Question

ZeroDivisionError: division by zero

**5. Complex** 
  a + bj

In [42]:
c = 1 + 2j 
type(c)

complex

In [43]:
c.real

1.0

In [44]:
c.imag

2.0

In [45]:
d = 2 + 3j

# Print function

In [46]:
print(c)
print(d)

(1+2j)
(2+3j)

In [47]:
c+d

(3+5j)

- fam - variable
- family() - function
- family(m,d) - 2 arguments or 2 parameters
- add(x,y) - function with two arguments
- mul(a,b,c) - function with three arguments

In [1]:
print(1)
print(1,2)
print(1,2,3)

1
1 2
1 2 3

In [13]:
num1 = 20
num2 = 30
add = num1 + num2
print('The addition of',num1, 'and', num2, 'is=',add )

The addition of 20 and 30 is= 50

**Format method**

In [16]:
num1 = 20
num2 = 30
add = num1 + num2
print('The addition of {} and {} = {}'.format(num1,num2,add))

The addition of 20 and 30 = 50

In [17]:
print('Hello, my name is {}, I am from {}'.format('Srujana','Hyderabad'))

Hello, my name is Srujana, I am from Hyderabad

In [19]:
num1 = 100
num2 = 50
num3 = 25
avg = (num1 + num2 + num3)/3
avg

58.333333333333336

In [20]:
avg1 = round((num1 + num2 + num3)/3,2)
avg1

58.33

In [23]:
print('The average of {}, {} and {} is {}'.format(num1,num2,num3,avg1))

The average of 100, 50 and 25 is 58.33

**f string method**

In [25]:
num4 = 50
num5 = 60
add1 = num4 + num5
print(f'The addition of {num4} and {num5} is {add1}')

The addition of 50 and 60 is 110

**end statement**

In [26]:
print('hello')
print('good morning')

hello
good morning

In [28]:
print('Hi',end=' ')
print('Srujana, Good Morning')

Hi Srujana, Good Morning

**separator**

In [30]:
print('Hi','Hello','Long time',sep='!')

Hi!Hello!Long time

In [31]:
print('Hi','Hello','Long time',sep=' ')

Hi Hello Long time

In [32]:
print(4,'.')

4 .

In [33]:
print(4,'.',sep='')
#also used to reduce space

4.

In [35]:
# Interesting info

#1. What is the datatype of np.nan?
import numpy as np
type(np.nan)

float

In [39]:
x = 7,
type(x)

tuple