### While loop

In [5]:
i  = 1              # Initializing a variable

while i <= 6:       # Condition
    print('Data Science')
    i = i + 1       # Increment

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [6]:
i  = 6              # Initializing a variable

while i >= 1:       # Condition
    print('Data Science')
    i = i - 1       # Decrement

Data Science
Data Science
Data Science
Data Science
Data Science
Data Science

In [7]:
i  = 1              # Initializing a variable

while i <= 6:       # Condition
    print(i,'Data Science')
    i = i + 1       # Increment

1 Data Science
2 Data Science
3 Data Science
4 Data Science
5 Data Science
6 Data Science

### Nested While loop

In [8]:
# If we have two conditions to check, we apply nested while. For instance:

i = 1

while i <= 5:
    print('Data Science')
    j = 1
    while j <= 4:
        print('Technology')
        j = j + 1
    i = i + 1
    print()

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

Data Science
Technology
Technology
Technology
Technology

In [9]:
# Note the use of end

i = 1

while i <= 5:
    print('Data Science', end = "")
    j = 1
    while j <= 4:
        print('Technology', end = "")
        j = j + 1
    i = i + 1
    print()

Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology
Data ScienceTechnologyTechnologyTechnologyTechnology

In [10]:
# Note the use of end

i = 1

while i <= 5:
    print('Data Science', end = " ")
    j = 1
    while j <= 4:
        print('Technology', end = " ")
        j = j + 1
    i = i + 1
    print()

Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology

In [11]:
# Useful for printing patterns

i = 1

while i <= 5:
    print('Data Science', end = " * ")
    j = 1
    while j <= 4:
        print('Technology', end = " # ")
        j = j + 1
    i = i + 1
    print()

Data Science * Technology # Technology # Technology # Technology #
Data Science * Technology # Technology # Technology # Technology #
Data Science * Technology # Technology # Technology # Technology #
Data Science * Technology # Technology # Technology # Technology #
Data Science * Technology # Technology # Technology # Technology #

In [12]:
i = 1

while i <= 2:
    j = 0
    while j <= 2:
        print(i*j, end = " ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [13]:
i = 1

while i <= 4:
    j = 0
    while j <= 3:
        print(i*j, end = " ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [14]:
i = 1

while i <= 4:
    j = 0
    while j <= 3:
        print(i*j, end = " ")
        j += 1
    i += 1

0 1 2 3 0 2 4 6 0 3 6 9 0 4 8 12

In [15]:
name = 'Srujana'

for i in name:
    print(i)

S
r
u
j
a
n
a

In [18]:
personal_details = ['Srujana', 29, 1000000]

for i in personal_details:
    print(i)

Srujana
29
1000000

In [19]:
for i in [1,1.5,2,2.5,'Done']:
    print(i)

1
1.5
2
2.5
Done

In [20]:
# Passing one argument
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
# Passing two arguments
for i in range(2,5):
    print(i)

2
3
4

In [23]:
# Passing three arguments
for i in range(0,20,3):
    print(i)

0
3
6
9
12
15
18

In [24]:
# Divisible by 3
for i in range(1,30):
    if i%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27

In [32]:
# Skip all the values that are divisible by 3 or 5
for i in range(1,30):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
end

In [35]:
# Printing pattern
i = 1
while i <= 4:
    j = 1
    while j <= 4:
        print('#')
        j = j + 1
    i = i + 1

#
#
#
#
#
#
#
#
#
#
#
#
#
#
#
#

In [41]:
i = 1
while i <= 4:
        print('# # # #')
        i = i + 1

# # # #
# # # #
# # # #
# # # #

In [42]:
for i in range(4):
    print('#')

#
#
#
#

In [43]:
for i in range(4):
    print('#', end = " ")

# # # #

In [47]:
for i in range(4):
    for j in range(4):
        print('#', end = " ")
    print()

# # # #
# # # #
# # # #
# # # #

**Summary**
- while loop, nested while 
- if else, using it inside the while loop
- for and while loop,using them inside a function
- while is used when there are conditions
- for loop is used when we have data structures