### User-defined functions

In [8]:
def greet():
    print('hello')
    print('good morning')

In [9]:
def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning

In [10]:
# write a python code add 2 number 

def add(x,y):
    c=x+y
    print(c)  
add(5,6)

11

In [11]:
# write a python code add 2 number 

def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

18

In [12]:
def greet():
    print('hello')
    print('good morning') 
greet()

hello
good morning

In [13]:
def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

18

In [14]:
def greet():
    print('hello')
    print('good morning') 
greet()

def add(x,y,z):
    c=x+y+z
    print(c)  
add(5,6, 7)

hello
good morning
18

In [15]:
def greet():
    print('hello')
    print('good morning') 

def add(x,y,z):
    c=x+y+z
    return c  

def sub(x,y):
    d = x-y
    print(d)
    
greet()
add(5,6,7)
sub(2,3)

hello
good morning
-1

In [16]:
def greet():
    print('hello')
    print('good noon')

def add(x,y,z):
    c=x+y+z
    return c

greet()

result = add(5,4,3)
print(result)

hello
good noon
12

In [17]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    e=x*y
    f= x/y
    g = x**y
    print(c, d,e,f,g)
    
add_sub(4,5)

9 -1 20 0.8 1024

In [18]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    print(c,d) 
    
add_sub(4,5)

9 -1

In [19]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c,d 
    
add_sub(4,5)

(9, -1)

In [20]:
def add_sub(x,y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [21]:
def add_sub(x,y):
    c= x+y
    d= x-y
    return c, d

result1,result2 = add_sub(5,4)

print(result1,result2)

print(type(result1))
print(type(result2))

9 1
<class 'int'>
<class 'int'>

In [22]:
def bmw(x): #update function take the value from the user
    x = 10
    print(x)
    
bmw(8)

10

In [23]:
def bmw(x): #update function take the value from the user
    x = 10
    print(x)
    
bmw(8)

10

In [24]:
def bmw(x):  
    x = 8
    print(x)
    
a = 10
bmw(a)
print(a)

8
10

#### Formal argument

In [25]:
class nit:
    def add(a,b): # a & b called formal argument
    c = a+b
    print(c)
    
add(5,6) #5 and 6 we called as actual argument

IndentationError: expected an indented block (1232482718.py, line 3)

#### Actual argument
    - positional argument
    - keyword argument
    - variable length argument
    - default argument

#### 1. Positional Argument

In [32]:
def person(name,age):
    print(name)
    print(age)
    
person('nit',22)

nit
22

In [33]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

#### 2. Keyword Argument

In [39]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(age = 22, name = 'nit')

nit
17

In [40]:
def person(name,age):
    print(name)
    print(age-5)   
    
person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

#### 3. Default argument

In [ ]:
def person(name, age = 18):
    print(name)
    print(age)

In [ ]:
person('Srujana')

In [ ]:
person('Srujana',27)

In [ ]:
# These concepts are used in polymorphism, method overloading, method overriding

#### 4. Variable length argument

In [42]:
def add(a,*b):
    c = a
    for i in b:
        c = c + i
    print(c)

# a is considered as an integer, b is considered as a tuple

In [43]:
add(1,2,3,4,5)

15

In [44]:
add(1,2,3,4,5,6,7,8,9,10)

55

#### 5. Kwargs: Keyword + variable length

In [46]:
def person():
    person('Srujana',36,'Data Analyst')

In [53]:
def person(name, *data):
    print(name)
    print(data)
person('Srujana',36)

Srujana
(36,)

In [54]:
def person(name, **data):
    print(name)
    print(data)
person('Srujana',age = 36)

Srujana
{'age': 36}

In [55]:
def person(name, **data):
    print(name)
    print(data)
person('Srujana',age = 36, designation = 'Data Analyst')

Srujana
{'age': 36, 'designation': 'Data Analyst'}

### Global Variable vs Local Variable

In [62]:
a = 5 # Global variable
def var(x):
    b = 10 # Local variable
    print('Inside the function',b)
    print('Outside the function', a)

In [63]:
sum(1)

Inside the function 10

In [64]:
a = 5 # Global variable
def var(x):
    b = 10 # Local variable
    print('Inside the function',b)
print('Outside the function', b)

# Note that the local variable cannot be accessed outside the function

NameError: name 'b' is not defined

#### global keyword and globals() function

In [73]:
x = 5 # Global variable
def update_x():
    global x  # Declare that we are using the global variable
    x += 10

In [74]:
update_x()
print(x)

15

In [75]:
x = 5 # Global variable
def update_x():
    x += 10

In [77]:
update_x()
# Note the error if global is not used; If first needs to be referenced before using it

UnboundLocalError: local variable 'x' referenced before assignment

**globals()** - It is a built-in function that returns a dict. It allows us to access and modify variables programmatically.

In [79]:
x = 50 # Global variable

def update_x():
    globals()['x'] += 10  # Access and modify the global variable

In [80]:
update_x()
print(x)

60